NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_ENABLE_ERUDA=false
DATABASE_URL=
DIRECT_URL=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
APPWRITE_IMAGE_PROCESSOR_URL=
APPWRITE_IMAGE_PROCESSOR_KEY=
RESEND_API_KEY=
RESEND_FROM=Fitness Tracker <onboarding@resend.dev>
TIMEZONE=Asia/Ho_Chi_Minh
